
@{
    ViewBag.Title = "Index";
}
<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#">Actividades</a></li>
    <li role="presentation"><a href="#">Representantes</a></li>
    <li role="presentation"><a href="#">Localidades</a></li>
    <li role="presentation"><a href="#">Formularios</a></li>
    <li role="presentation"><a href="#">Programas De Visitas</a></li>
    <li role="presentation"><a href="#">Informes</a></li>
</ul>


