
@{
    ViewBag.Title = "Index";
}
<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="~/Home/Actividades">Actividades</a></li>
    <li role="presentation"><a href="~/Home/Representantes">Representantes</a></li>
    <li role="presentation"><a href="~/Home/Localidades">Localidades</a></li>
    <li role="presentation"><a href="~/Home/Formularios">Formularios</a></li>
    <li role="presentation"><a href="~/Home/ProgramasdeVisita">Programas De Visitas</a></li>
    <li role="presentation"><a href="#">Informes</a></li>
</ul>


