
@{
    ViewBag.Title = "Registro";
}

<center>
    <form class="form-control text-center">

        <br><br><br><br><br><h3>what kind of work doesyour field team perform</h3>
        <br>click an image below to select your industry<br>
        <div class="row">
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="~/image/login.PNG" alt="10" />
                    click
                </a>
            </div>

            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="~/image/login.PNG" alt="10" />
                    click
                </a>
            </div>

            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="~/image/login.PNG" alt="10" />
                    click
                </a>
            </div>
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="~/image/login.PNG" alt="10" />
                    otro
                </a>
            </div>
        </div>
        <br>

        <div>
           
                <center>
                    <div class="form-group">
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="inputEmail3" placeholder="what is your full name">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="inputPassword3" placeholder="what is your company name">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="inputPassword3" placeholder="what is your phone number">
                        </div>
                </center>
</div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default">continuar</button>
                        </div>
                
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>      
        </div>
    </form>
</center>



