
@{
    ViewBag.Title = "Representantes";
}
<form class="panel-heading form-inline col-lg-12">

    <div class="panel panel-default">



            <img src="~/image/login.PNG" width="81" height="81" />

     

   

            <h3> Representantes</h3><h5>Gestione su equipo de representantes de campo</h5>




    

        <input type=image src="~/image/login.PNG" width="81" height="76">

        </div>

        <div class="panel panel-default">
            <br />
            <div class="panel-heading form-inline col-lg-3 ">
                <div class="input-group  ">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></div>
                    <input type="text" class="form-control" id="exampleInputAmount" placeholder="Buscar Representantes">
                </div>

            </div>

            <div class="panel-heading form-inline col-lg-3 ">
                <div class="form-group">
                    <div class="dropdown ">
                        <a href="#" class="dropdown-toggle" id="dropdownMwnu1" data-toggle="dropdown" aria-haspopup="false" aria-expanded="true">Agregar Mas Filtros</a>


                        <span class="caret"></span>

                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li>
                                <a href="#">Filtrar Representan Por Territorio</a>
                                //////////////falta pedir ayuda con tutor
                                <div class="panel-heading form-inline">
                                    <div class="form-group">
                                        <div class="dropdown">

                                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                Agregar Mas Filtros
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                                <li><a href="#">Filtrar Representan Por Territorio</a></li>

                                                <li><a href="#">Another action</a></li>
                                                <li><a href="#">Something else here</a></li>
                                            </ul>


                                        </div>
                                    </div>
                                </div>
                            </li>
                            /////////////////////
                            <li><a href="#">Filtre los representantes según el estado actual</a></li>

                        </ul>


                    </div>
                </div>
            </div>
            <div class="panel-heading form-inline col-lg-4">

                <button type="button" class="btn btn-success img-rounded" data-toggle="button" aria-pressed="false" autocomplete="off">
                    Aplicar
                </button>


            </div>
            <br />
            <br />
            <br />
            <div class="panel-heading form-inline col-lg-2">
                <div class="dropdown ">
                    <a href="#" class="dropdown-toggle" id="dropdownMwnu1" data-toggle="dropdown" aria-haspopup="false" aria-expanded="true">Agregar Mas Filtros</a>


                    <span class="caret"></span>

                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li>
                            <a href="#">Filtrar Representan Por Territorio</a>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Filtre los representantes según el estado actual</a></li>
                        <li role="separator" class="divider"></li>
                    </ul>

                </div>
            </div>
        </div>



    </form>

