
@{
    ViewBag.Title = "Representantes";
    List<SiscomsoftVendors_Plan.Models.Vendedores> datos = ViewBag.datos;
    String valor = ViewBag.txtvalor;
}
<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="~/Home/Actividades">Actividades</a></li>
    <li role="presentation"><a href="~/Home/Representantes">Representantes</a></li>
    <li role="presentation"><a href="~/Home/Localidades">Localidades</a></li>
    <li role="presentation"><a href="~/Home/Formularios">Formularios</a></li>
    <li role="presentation"><a href="~/Home/ProgramasdeVisita">Programas De Visitas</a></li>
    <li role="presentation"><a href="#">Informes</a></li>
</ul>
&nbsp;
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-lg-2">
                    <i class="material-icons">&#xE7EF;</i>
                </div>
                <div class="col-lg-8 col-lg-pull-1">
                    <h5> Representantes</h5><h6>Gestione su equipo de representantes de campo</h6>
                </div>
                <br />
                <div class="col-lg-2">
                    <button  type="button" class="btn btn-success img-rounded" data-toggle="button" aria-pressed="false" autocomplete="off" width="70" height="71" onclick="window.location.href = 'NuevoRepresentante';"><span class="glyphicon glyphicon-shopping-plus"></span>
                        Representante Nuevo
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-lg-3">
                    @using (Html.BeginForm("Representantes", "Home", FormMethod.Get))
                    {

                    <div class="form-group">
                        <div class="input-group  ">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></div>
                            <input type="text" class="form-control" id="exampleInputAmount" value="@valor" placeholder="Buscar Representantes" name="txtvalor">
                        </div>
                    </div>

                    }
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        <div class="dropdown ">
                            <ul class="nav nav-tabs">
                                <li role="presentation" class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                        Agregar mas filtros <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Filtrar Representante Por Territorio</a>
                                        <select class="form-control">
                                                <option>sonora</option>
                                                <option>sinaloa</option>
                                               
                                        </select></li>
                                        <li>
                                            <a href="#">Filtre los Representantes segun el estado actual</a>
                                            <select class="form-control">
                                                <option>no funciona</option>
                                                <option>jornada de trabajo iniciada</option>
                                                <option>visitando localidad/es</option>
                                                <option>jornada de trabajo terminado</option>
                                            </select>
                                        </li>
                                    </ul>
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="col-lg-5">
                    <button type="button" class="btn btn-success img-rounded" data-toggle="button" aria-pressed="false" autocomplete="off" width="70" height="71">
                        Aplicar
                    </button>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        <div class="dropdown ">
                            <ul class="nav nav-tabs">
                                <li role="presentation" class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                        ver como :LISTA <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="#">Lista</a>
                                            <a href="#">Clasificaciones</a>
                                        </li>
                                    </ul>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
    <div class="row">
        <div class="col-lg-12">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Territorio</th>
                            <th>Ultima Actividad</th>
                            <th>Estado Actual (Hora)</th>
                            <th>Activo</th>
                        </tr>
                    </thead>
                    @foreach (SiscomsoftVendors_Plan.Models.Vendedores item in datos)
                    {
                        <tr>
                            <td>@item.Id_Vendedor</td>
                            <td>@item.Nom_Vendedor</td>
                            <td> </td>
                            <td>@DateTime.Now.ToString("")</td>
                            <td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> </td>
                        </tr>
                        }
                </table>
                <button type="button" class="btn btn-success img-rounded" data-toggle="button" aria-pressed="false" autocomplete="off">
                    Exportar
                </button>
            </div>
        </div>
    </div>